/* button */

.ui.button {
  background-color: var(--primary-pms-362-900);
  color: var(--shade-white);
  font-family: var(--gotham);
  border-radius: var(--border-radius-3);
  padding: 0.625rem;
  line-height: 1.5em;
}
/** Large **/
.ui.button.large {
  font-size: 1.125rem;
}

/** Small **/
.ui.button.small {
  font-size: 0.875rem;
}

/** Focus **/
.ui.button:focus {
  background-color: var(--primary-pms-362-900);
  color: var(--shade-white);
}

/** Hover **/

.ui.button:hover {
  background-color: var(--primary-pms-362-800);
  color: var(--shade-white);
}

/** Active **/

.ui.button:active {
  background-color: var(--primary-pms-362-700);
  color: var(--shade-white);
}

/** Secondary Button **/

.ui.secondary.button {
  background-color: var(--shade-white);
  color: var(--primary-pms-362-900);
  border: 1px solid var(--primary-pms-362-900);
}

/** Secondary Focus **/

.ui.secondary.button:focus {
  background-color: var(--shade-white);
  color: var(--primary-pms-362-900);
  border: 1px solid var(--primary-pms-362-900);
}

/** Secondary Hover **/

.ui.secondary.button:hover {
  background-color: var(--shade-white);
  color: var(--primary-pms-362-800);
  border-color: var(--primary-pms-362-800);
}

/** Secondary Active **/

.ui.secondary.button:active {
  background-color: var(--shade-white);
  color: var(--primary-pms-362-700);
  border-color: var(--primary-pms-362-700);
}
