.ui.input > input {
  padding: var(--spacing-1) var(--spacing-4) var(--spacing-1) var(--spacing-2);
  line-height: var(--line-height);
  border-radius: var(--border-radius-2);
  background-color: var(--shade-white);
  border: 1px solid var(--neutral-900);
  font-size: var(--font-size);
}

.ui.input > input:focus,
.ui.form input[type='color']:focus,
.ui.form input[type='date']:focus,
.ui.form input[type='datetime-local']:focus,
.ui.form input[type='email']:focus,
.ui.form input[type='file']:focus,
.ui.form input[type='number']:focus,
.ui.form input[type='password']:focus,
.ui.form input[type='search']:focus,
.ui.form input[type='tel']:focus,
.ui.form input[type='text']:focus,
.ui.form input[type='time']:focus,
.ui.form input[type='url']:focus,
.ui.form textarea:focus {
  border-color: var(--primary-pms-362-900);
}

.ui.input > input::placeholder {
  color: var(--neutral-900);
  font-weight: 400;
}

.ui.input.error > input {
  border: 2px solid var(--alert-error-900);
  color: var(--shade-black);
  background-color: var(--shade-white);
}

.ui.input.error > input::placeholder,
.ui.input.error > input:focus::placeholder {
  color: var(--neutral-900);
  font-weight: 400;
}

.ui.input.disabled > input {
  border: 1px solid var(--neutral-700);
}

.ui.input.disabled > input::placeholder {
  color: var(--neutral-700);
}

.ui.input .icon {
  color: var(--tertiary-cool-grey-900);
}
