.section {
  margin: 0 0 var(--spacing-3) 0;
}

.row {
  display: flex;
  gap: var(--spacing-1);
  margin: var(--spacing-2) 0;
}

.dropdownBox {
  display: flex;
  flex-direction: column;
}

.dropdownBox .dropdown {
  margin: 5px 0;
}
