.section {
  margin: 0 0 var(--spacing-3) 0;
}

.row,
.column {
  display: flex;
  gap: var(--spacing-2);
}

.column {
  flex-direction: column;
}

.dropdownBox {
  display: flex;
  flex-direction: column;
}

.dropdownBox .dropdown {
  margin: 5px 0;
}

.ui.form .field.formLabel > label {
  text-transform: capitalize;
}
