@font-face {
  src: url('./fonts/gotham/gotham-black.otf') format('opentype');
  font-weight: 900;
  font-family: 'Gotham';
}

@font-face {
  src: url('./fonts/gotham/gotham-bold.otf') format('opentype');
  font-weight: 700;
  font-family: 'Gotham';
}

@font-face {
  src: url('./fonts/gotham/gotham-book.otf') format('opentype');
  font-weight: 400;
  font-family: 'Gotham';
}

body {
  background-color: var(--background-grey);
  padding: var(--spacing-2);
  font-family: var(--gotham);
}

html {
  font-size: 16px;
}
