@import 'styles/variables.css';

@import 'styles/button.css';
@import 'styles/checkbox.css';
@import 'styles/divider.css';
@import 'styles/dropdown.css';
@import 'styles/form.css';
@import 'styles/header.css';
@import 'styles/input.css';
@import 'styles/label.css';
@import 'styles/menu.css';
@import 'styles/message.css';
@import 'styles/modal.css';
@import 'styles/segment.css';
